---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio Johan Zuluaga Catro | FullStack Developer">
	<h1>Hola Johan</h1>
	<img  class="w-44 h-44" src="/src/assets/images/logo.png" alt="logo">
</Layout>


